[2019-06-07 07:45] kefranabg opened #4 "Add Contributing section to README"

[2019-06-07 07:46] kefranabg opened #5 "Add end message after README generation"

[2019-06-07 08:02] kefranabg opened #6 "Add CLI as binary"

[2019-06-07 12:22] kefranabg opened #7 "Use github url to propose github username default value"

[2019-06-07 12:28] kefranabg opened #8 "Use github url to propose license default value"

[2019-06-07 14:23] kefranabg opened #9 "Get license Name from package.json"

[2019-06-07 14:24] kefranabg opened #10 "Add version badge"

[2019-06-07 15:40] kefranabg opened #11 "Add prerequisites"

[2019-06-07 15:41] kefranabg opened #12 "Add emojis in questions"

[2019-06-07 16:20] #12 closed

[2019-06-07 16:56] #7 closed

[2019-06-07 18:06] #10 closed

[2019-06-07 18:07] #4 closed

[2019-06-07 20:53] kefranabg opened #13 "Add information about how readme-cli get information to generate default values"

[2019-06-07 21:41] #11 closed

[2019-06-07 21:41] kefranabg opened #14 "Allow to generate a banner image for README"

[2019-06-08 12:36] kefranabg opened #15 "Ask final informations confirmation"

[2019-06-08 12:39] kefranabg opened #16 "In README, add gif with package json infos and git config"

[2019-06-08 12:48] #9 closed

[2019-06-08 12:48] #8 closed

[2019-06-08 12:48] kefranabg opened #17 "Add some github badges"

[2019-06-08 12:49] kefranabg opened #18 "Add tests"

[2019-06-08 12:52] kefranabg opened #19 "Add a "support us" section"

[2019-06-08 13:33] #17 closed

[2019-06-08 15:10] #15 closed

[2019-06-08 15:10] #6 closed

[2019-06-08 20:39] #13 closed

[2019-06-08 20:39] #5 closed

[2019-06-08 20:59] #14 closed

[2019-06-08 20:59] kefranabg opened #21 "Add a logo to README"

[2019-06-09 18:36] kefranabg opened #24 "Generate Install and Usage sections depending on the project type"

[2019-06-09 18:49] #21 closed

[2019-06-09 19:07] #16 closed

[2019-06-09 19:11] kefranabg opened #25 "Badges with prerequisites"

[2019-06-10 18:30] #18 closed

[2019-06-10 18:32] kefranabg opened #26 "Ask for banner path"

[2019-06-10 18:37] kefranabg opened #27 "Ask if project is lib, CLI, project to generate main content"

[2019-06-11 14:09] kefranabg opened #28 "package.json homepage property is not always doc link"

[2019-06-11 14:12] kefranabg opened #29 "Use static badge for license"

[2019-06-11 14:39] #29 closed

[2019-06-11 16:23] #28 closed

[2019-06-12 13:28] #24 closed

[2019-06-12 13:28] #19 closed

[2019-06-12 17:19] kefranabg opened #30 "Refactor questions names properties"

[2019-06-12 19:57] #27 closed

[2019-06-13 18:51] kefranabg opened #32 "Badge follow on twitter"

[2019-06-13 22:27] MaerF0x0 opened #33 "Doesnt work on golang Project"
Doesnt work on my golang proejct. Interested in PRs to extend ?

[2019-06-14 00:02] wrecklass opened #34 "Doesn't seem to work on macOs"
Tried out your project on my MacBook Pro (Mojave macOs 10.14.5). After successfully installing using your notes, I attempted to run and get the following error:

[code]
Which is interesting as I can clearly see the require statement
[code]
And project-infos.js appears to be fine.
Not knowledgable enough in node to debug it further myself.

[2019-06-14 06:40] kefranabg commented on #34
Hi @wrecklass,
Do you have a node version under v8 ?

I will add prerequisites in README 😉

[2019-06-14 09:49] #32 closed

[2019-06-14 11:40] kefranabg commented on #33
For sure 😉 I don't know how it would work with go but feel free to propose an implementation 😄

[2019-06-14 13:33] Akecel opened #37 "Error on "readme" command : TypeError [ERR_INVALID_ARG_TYPE]"
When I try to use the "readme" command it returns this error that I may have found in several Issue on other repo but none of the solutions are useful here :

[code]

Thank you !

[2019-06-14 16:26] flamendless opened #39 "README says no need for package.json, but gives error"
README says `package.json` is not needed, also, in the `USAGE` section, only run the command `readme`. However it gives this error

[code]

[2019-06-14 18:09] kefranabg commented on #39
This will be fixed quickly ;) Thank you for the report 😉

[2019-06-14 19:12] kefranabg opened #40 "Add `--yes` option"
This option would work as the `--yes` option of npm init : [https://docs.npmjs.com/cli/init](https://docs.npmjs.com/cli/init)

Skip user interaction with CLI an take all default values to generate the README

[2019-06-14 20:32] davidsonsns opened #41 "Available Scripts"
What do you think about a session `Available Scripts`?
Like generated apps with `create-react-app`.

If is ok I can try to do this.

[2019-06-14 20:54] kefranabg commented on #41
Hi @davidsonsns

Thanks for opening the issue 👍

I already thought about this feature, but the problem is that the project might be something like a library or a CLI. In this case, suggest scripts command from the `package.json` would not make sense unfortunately 😕

Please let me know if you have a solution anyway 😄

[2019-06-15 08:55] #25 closed

[2019-06-15 09:17] kefranabg commented on #37
Hi @Akecel , could you provide you OS, node & npm version please ?

[2019-06-15 09:21] Akecel commented on #37
For node & Npm the last ones, I think. I installed it later this week on my Mac at work. I could check more precisely on Monday.
And I have MacOs Mojave, I'll give you the exact version on Monday too.

[2019-06-15 09:22] kefranabg commented on #34
I added prerequisites badges to the README. Please get a recent version of node to use `readme-md-generator` 😉

[2019-06-15 09:22] #34 closed

[2019-06-15 09:25] kefranabg commented on #37
If I correctly understand, you also get this error from other projects ? Don't you think it's an error related to your specific configuration ?

[2019-06-15 09:32] Akecel commented on #37
No, what I meant was that by putting this error on github I found it on other projects (like some projects with react)

[2019-06-15 09:38] kefranabg commented on #37
Ok, I'll check that ASAP 😉

[2019-06-15 09:58] Akecel commented on #37
Thank you very much! I look forward to trying your tool it looks really good

[2019-06-15 14:12] flamendless commented on #39
Hi, updated the package in my end, but i still get the same error:
[code]

[2019-06-15 14:41] kefranabg commented on #39
I did not release the last version for now 😉 I'll reopen the issue until next release

[2019-06-15 15:24] kefranabg opened #47 "Ask for patreon link during the creation process"

[2019-06-15 16:45] #40 closed

[2019-06-15 16:47] kefranabg commented on #39
Fixed in [last release](https://github.com/kefranabg/readme-md-generator/releases)

[2019-06-15 16:47] #39 closed

[2019-06-15 16:48] kefranabg commented on #37
Fixed in [last release](https://github.com/kefranabg/readme-md-generator/releases)

[2019-06-15 16:48] #37 closed

[2019-06-15 16:53] kefranabg opened #48 "Add -v alias to display readme-md-generator version"

[2019-06-15 19:18] ssoobratty commented on #48
I'll do this if that's ok

[2019-06-15 20:16] bcongdon opened #51 "Idea: Add note running the generator via `npx`"
A project like this seems like a good candidate for use via [npx](https://www.npmjs.com/package/npx).

It might be worthwhile to note in the "Installation" section of the README that this project can be run with `npx readme-md-generator`. (I've tested this, and it already seems to work)

Thanks for your work on this, it's a great template for making READMEs. 😄👍

[2019-06-15 20:19] kefranabg commented on #51
Great idea 😉

[2019-06-15 22:23] kefranabg opened #52 "Add circleCI badge to readme"

[2019-06-16 08:20] #48 closed

[2019-06-16 16:49] #52 closed

[2019-06-17 06:52] frinyvonnick opened #53 "Idea: Add contributors"
Hi,

First of all, thank you for your awesome work 👍

There is a section about author. This would be cool to have a section about contributors too. [all-contributors](https://github.com/all-contributors/all-contributors) is a specification about recognizing contributors. They also have a tool that edit README.md to add contributors.

[2019-06-17 07:12] dejanfajfar commented on #41
I have a partial solution for this. Look for the ```bin``` part of the package.json. If found you know that it is a CLI.

[2019-06-17 07:29] kefranabg commented on #41
And how to know if it's a standard project (like an app) or a library ?

[2019-06-17 07:34] frinyvonnick opened #54 "Idea: use npm version badge if package exists"
You could use `view` command to test if a package exists on `npm`:

`npm view [package]`

If it exists you can use npm version badge instead of generic one. An another improvement would be to let user add a tag to point on a specific version channel. For example `2.0.0-alpha.1`

[2019-06-17 07:40] kefranabg commented on #53
Hi @frinyvonnick

Thanks for opening this issue !
I don't know how it could be done exactly yet but I ❤️the idea.

[2019-06-17 07:43] kefranabg commented on #54
Awesome !

Love the idea !

[2019-06-17 11:11] dejanfajfar commented on #41
One Idea that just came to mind is to check the "main" file for exports. If exports are present then we are most likely looking at a library. If there is no export then I would think that the whole thing starts a self contained something...

This could also work with transpiled code like typescript

#justanidea

[2019-06-17 11:15] kefranabg commented on #41
Hmmm that might be a solution indeed 😉 Are you interested in doing a PR ?

[2019-06-17 12:05] samit4me commented on #51
Had this exact thought when I used`readme-md-generator` for the first time today. Not sure if anyone was working on updating the README, so I created a PR #55, happy to update if it's not what you were thinking.

[2019-06-17 12:10] dejanfajfar commented on #41
Can give it a try but can not promise that it will happen in a timely fashion. Sadly working on a little thing of my own at the time. But if someone would like to talk about ti I can be reached at

[![Gitter](https://badges.gitter.im/dejanfajfar/community.svg)](https://gitter.im/dejanfajfar/community?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge)

[2019-06-17 13:06] #51 closed

[2019-06-17 13:25] kefranabg opened #56 "Allow user to specify its own ejs README template"
The user could use its own ejs template by specifying the path.

Example :
[code]

[2019-06-17 18:49] kefranabg commented on #9
@all-contributors please add kefranabg for Code

[2019-06-18 09:31] engrravijain commented on #54
@frinyvonnick and @kefranabg can I work on this feature?

[2019-06-18 09:32] engrravijain commented on #53
@frinyvonnick and @kefranabg  would love to work on this.

[2019-06-18 09:33] kefranabg commented on #54
@engrravijain Of course 👍

[2019-06-18 09:36] kefranabg commented on #53
Sure, could you share with us how you think it would work before starting development ?
Just to make sure it goes in the right direction 😉

[2019-06-18 12:38] apatrascu commented on #47
Hello! I've created a PR for this issue. Hope nobody was working on it :)

[2019-06-18 12:43] #26 closed

[2019-06-18 16:44] engrravijain commented on #54
@kefranabg can you please explain me in more detail, like what exactly is required.

[2019-06-19 04:06] hangyan opened #59 "install errror"
output is:
npx: installed 114 in 41.99s
Unexpected token (

[2019-06-19 07:04] sahil97 commented on #59
Could you please elaborate on the error or give more of a stack trace regarding the issue.
Also, please specify your environment ( OS, npm version ) so I can try to recreate the error.
P.S. Just tried it, worked as expected.

[2019-06-19 07:24] kefranabg commented on #59
Hi @sahil97, could you also provide your node version ?

[2019-06-19 07:37] kefranabg commented on #54
We want to check if the project is published on npm.

If the project is available on npm, we can use a dynamic version badge ([https://shields.io/category/version](https://shields.io/category/version) => check the npm one) for the README.

If the project is not available on npm, we use a static version badge (this is the current behavior, static version badge is always used)

We can check if a pro

[2019-06-19 07:47] sahil97 commented on #59
Yup. Sorry I forgot to write my own version.
Node 10.15.3 on Ubuntu 16.04.6 LTS.

[2019-06-19 11:37] #47 closed

[2019-06-19 12:29] tunnckoCore commented on #30
Use `enquirer` - tons of reasons.

This is one of them: supports dot notation in the `name`, so you can make it `project.documentation.url`.

[2019-06-19 12:58] kefranabg commented on #30
Thanks, I'll check that out

[2019-06-19 15:01] Epistol opened #60 "Weird on bitbucket"
It's all messed up until the description after the tags :/
[code]

[2019-06-19 16:13] Marco-Gautier opened #61 "Idea: Modify existing README"
hi,

It would be cool to be able to pre-fill the different fields when a README.md already exists. We would be able to modify the readme without making a new one from scratch.

Keep up the great work.

[2019-06-19 16:16] apatrascu opened #62 "Different behavior on GitLab vs GitHub"
Hello, I've tested on GitLab and I saw that they are using a different flavor of Markdown and other rules for embedding HTML.

The default generated HTML looks like this right now on GitLab:
![Selection_001](https://user-images.githubusercontent.com/1193770/59782497-b6d36d00-92c6-11e9-9472-f24c11148ea5.png)

But if the Markdown is written as:
[code]
it looks correct:
![Selection_003](https://user-

[2019-06-19 16:28] apatrascu opened #63 "Idea: Add an EditorConfig file"
For formatting code there is EditorConfig (https://editorconfig.org/) which is supported in all major IDE's (including the ones from JetBrains) and Visual Studio Code through the means of a plugin (`ext install EditorConfig.EditorConfig`).

The format of the file is straightforward, and can cover all files that are used/will be used. For example, something similar with the following can be used on

[2019-06-19 16:41] apatrascu commented on #60
Unfortunately you cannot center text on bitbucket because the platform doesn't support arbitrary HTML in Markdown. See link : https://bitbucket.org/tutorials/markdowndemo

[2019-06-19 16:43] Epistol commented on #60
Unfortunately, that's the basic readme generator way of handling the file ^^'

[2019-06-20 08:19] ElecRex opened #64 "npm WARN"
npm installl

output is :
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@1.2.9 (node_modules\fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.2.9: wanted {"os":"darwin","arch":"any"} (current: {"os":"win32","arch":"x64"})

audited 866857 packages in 14.515s
found 0 vulnerabilities

[2019-06-20 12:45] kefranabg opened #65 "Refactor conditionnal questions workflow with `when` of inquirer"

[2019-06-20 18:13] alanlopes4 opened #66 "Lock in question. I can't type anything."
When i execute, it's locked in second question "project version (use empty value to skip)".I can not type anything and I have to close the terminal.

![issueGenerator](https://user-images.githubusercontent.com/10770396/59871387-d7a2cd80-936d-11e9-9ba8-2b5307808ba7.png)

[2019-06-20 19:08] jpoissant commented on #66
I have the same issue :(

[2019-06-20 20:10] piyush97 commented on #66
Same Issue!

[2019-06-20 22:00] kefranabg commented on #66
Same issue... Only occurs when downloaded through npm registry 🤔

[2019-06-20 22:12] kefranabg commented on #66
Just found that the issue comes from the last version of inquirer (6.4.0) [https://github.com/SBoudrias/Inquirer.js/issues/811](https://github.com/SBoudrias/Inquirer.js/issues/811)

[2019-06-20 22:29] kefranabg commented on #66
Fixed in [https://github.com/kefranabg/readme-md-generator/commit/688c754584bfb7d9191eb30e18563e16f2a7b3ff](https://github.com/kefranabg/readme-md-generator/commit/688c754584bfb7d9191eb30e18563e16f2a7b3ff) 🎉

[2019-06-20 22:29] #66 closed

[2019-06-20 22:35] kefranabg commented on #64
You use Windows, so fsevents is simply not available to you. You don't need to worry about that. It's a warning, not a fatal error. Feel free to ignore it.

Feel free to reopen this issue if something is blocking for you.

[2019-06-20 22:35] #64 closed

[2019-06-21 16:39] kefranabg commented on #63
Hi @apatrascu, thanks for opening this issue.

Code format is already handled by prettier on this project. A Prettier plugin on your with auto format on save do the job. My question is what is the added value of using  EditorConfig ?

[2019-06-21 16:40] kefranabg commented on #61
Hmm yes why not 😉

[2019-06-21 16:43] kefranabg commented on #62
Thanks for the report !  Is the problem `h1` tag ?

[2019-06-21 16:44] kefranabg commented on #59
I'm not able to reproduce ... I released a new version, could you test it again ?

[2019-06-22 04:29] hangyan commented on #59
still not working...

OS: 10.14.2

![image](https://user-images.githubusercontent.com/3939015/59959419-58d29f80-94e9-11e9-99fc-7294e33affbc.png)

[2019-06-22 04:30] hangyan commented on #59
![image](https://user-images.githubusercontent.com/3939015/59959423-70aa2380-94e9-11e9-9b75-3d7706cdf19e.png)

[2019-06-22 04:32] hangyan commented on #59
![image](https://user-images.githubusercontent.com/3939015/59959436-caaae900-94e9-11e9-9934-9a73c5d2b12f.png)

after install the latest npm. still not working...

[2019-06-22 07:59] kefranabg commented on #59
@hangyan you have node 6.4 installed, just install a recent version of node and it will work

[2019-06-22 07:59] #59 closed

[2019-06-22 09:19] #65 closed

[2019-06-22 09:41] hangyan commented on #59
@kefranabg yes, it works . thanks very much. May be it's better to add a note on the doc about this error?

[2019-06-22 11:08] hangyan opened #73 "misbehavior on github and bitbucket"
On gitlab:

![image](https://user-images.githubusercontent.com/3939015/59963100-fe553580-9520-11e9-89d1-3362d5970a2e.png)

On bitbucket

![image](https://user-images.githubusercontent.com/3939015/59963102-07de9d80-9521-11e9-87f2-25752672c67c.png)

same project

[2019-06-22 11:12] kefranabg commented on #73
Duplicate of #60

[2019-06-22 11:12] #73 closed

[2019-06-22 11:21] kefranabg opened #74 "Create a template without HTML tags"
**The problem:**

Some platforms (like [bitbucket](https://bitbucket.org/tutorials/markdowndemo/src/master/)) does not support HTML tags in markdown. See #60

**Solution:**
The solution would be to create a second template named `no-html` that generates the same README content as the default one, but without HTML tags.

When you start the command `npx readme-md-generator`, it would display the lis

[2019-06-22 11:25] kefranabg commented on #60
I just created a good first issue to fix this problem 👉 #74

[2019-06-23 09:58] kefranabg commented on #61
I thought about this feature, it's a bit complicated but achievable. The thing is, in the future, you will be able to choose between multiple templates for your readme, and there is the problem. It will add too much complexity to be able parse different templates models and get infos from them. 😞

Please feel free to reopen the issue if you have a solution 👍

[2019-06-23 09:58] #61 closed

[2019-06-23 10:44] #56 closed

[2019-06-23 11:36] apatrascu commented on #62
Yes, if you replace it with `<div>`, followed by an enter, and then the text, it is ok.

[2019-06-23 11:39] apatrascu commented on #63
Oh, did not know about Prettier :)

[2019-06-23 11:40] kefranabg commented on #63
No problem 😉

[2019-06-23 11:40] #63 closed

[2019-06-27 00:46] nourkilany commented on #74
If it's possible I wanna give this a try

[2019-06-27 07:23] kefranabg commented on #74
Hi @nourkilany,

Thanks for your interest

Unfortunately I'm already assigned to this issue and it's almost done 😉

Feel free to check other good first issues if you want to contribute.

[2019-06-27 07:37] kefranabg opened #77 "Found a solution to center readme"

[2019-06-27 07:37] kefranabg opened #78 "Found a solution to center readme"

[2019-06-27 07:37] kefranabg opened #79 "Found a solution to center README title on all platforms"

[2019-06-27 07:38] #79 closed

[2019-06-27 07:38] #78 closed

[2019-06-27 07:40] #62 closed

[2019-06-27 14:50] nourkilany commented on #74
I really like this project and the effort you put into it. I'll avidly wait for a good first issue that I can fix.

[2019-06-27 14:52] kefranabg commented on #74
Thanks @nourkilany

[2019-06-27 14:52] #74 closed

[2019-06-27 14:53] kefranabg commented on #60
Since `v0.5.0` you can choose to generate template without HTML. See [changelog](https://github.com/kefranabg/readme-md-generator/blob/master/CHANGELOG.md).

[2019-06-27 14:53] #60 closed

[2019-06-27 16:53] kefranabg commented on #54
@engrravijain Do you still plan to work on this issue ?

[2019-06-27 17:41] loopmode opened #82 "Provide initializer package"
You should publish a thin wrapper package named `create-markdown-md` with a small bin script. Due to the `create-*` convention it would qualify as a proper "initializer package".
This would allow usage via `npm init readme-md` or `yarn create readme-md` without prior installation.

I'd even go further and name it `create-readme.md` for a totally awesome `yarn create readme.md` :)

[2019-06-28 14:25] kefranabg commented on #82
Hi @loopmode thanks for opening this issue.

Unfortunately `create-readme-md` or `create-readme` are already assigned on npm 😞

[2019-06-28 14:44] loopmode commented on #82
The one with a dot is still there ;) grab it..!

[2019-07-03 12:35] Epistol opened #87 "Command list "&" become "&amp""
Looks like a utf bug, when you setup a new readme, in the "Install command" line, setting something with "&" will result in "&amp" in the final readme.

[2019-07-04 03:00] wonism commented on #87
I think you should choose **No** when the CLI ask you to `Use HTML in your README.md for a nicer rendering? (not supported everywhere. ex: Bitbucket)`

[2019-07-04 08:09] Epistol commented on #87
It occurs when you choose **No** either :/

[2019-07-05 22:47] #87 closed

[2019-07-07 02:23] SwapnikKatkoori commented on #54
Is anyone on this @kefranabg ? If not, I could try it.

[2019-07-07 08:27] kefranabg commented on #54
It's available for now 😉

[2019-07-07 11:02] Slashgear opened #92 "Twitter and Github username `@`"
I wanted to generate a readme for one of my project.

When I received this question `🐦  Twitter username (use empty value to skip)`

I instantly wrote `@Slashgear_`, which is my valid twitter username. This URL is totally valid https://twitter.com/@Slashgear_

But it has generate this in the template:

[code]

**Same problem for Github**

- Should we add help in the question `(without the @ )` ?
-

[2019-07-07 13:33] kefranabg commented on #92
Hi @Slashgear,

Thanks for opening an issue 🙏

A valid Twitter username is without the `@` prefix, but I understand that the user can easily do the mistake. For a better user experience, I think we should automatically remove the `@` from  the user input answer for github and Twitter.

Are you interested in doing à PR ?

[2019-07-07 20:40] Slashgear commented on #92
It's seems that there is no *on the fly* transform in the *askQuestion* part. Should I add one ?

[2019-07-08 09:48] kefranabg commented on #92
I think you can transform user answer directly in `author-twitter` and `author-github` files with the `transformer` property from [inquirer](https://github.com/SBoudrias/Inquirer.js/)

[2019-07-08 11:57] Slashgear commented on #92
Ok, I'm on it ! 💪

[2019-07-08 13:30] #92 closed

[2019-07-13 09:10] #54 closed

[2019-07-17 12:13] lepouletsuisse opened #97 ".git is added to the package"
Hello!

I juste updated readme-md-generator to version 0.6.0 and it seems there is the .git directory that has been added to the package. That implies that when when we try to do a `npm install` when readme-md-generator is already installed, we got the following error:

To reproduce it, simply install readme-md-generator@0.6.0, install it and than try to do an other `npm install`

Have a good day!

[2019-07-17 12:20] kefranabg commented on #97
Hi @lepouletsuisse,

I just tested and it's working as expected for me.
Can you tell me what command you are using ?

To get it work, juste use a recent version of npm and do the following :

[code]
or

[code]

[2019-07-18 06:27] lepouletsuisse commented on #97
Hi @kefranabg ,
In fact i'm doing a `npm i --save readme-md-generator` and than any `npm i ...` command got the error i showed in my first comment.
I tried to install it globally and it seems to work. Anyway, i think this is still a bug if one wants to install the package in the project only.
npm version: 6.9.0
Node version: 10.16.0
readme-md-generator version: 0.6.0
Here it is a screenshot that s

[2019-07-18 08:26] kefranabg commented on #97
@lepouletsuisse, the .git is added in npm repository indeed...
However it's not supposed to be possible.

I made some research and find out that it's a bug  from `npm@6.9.1`, the version that I used to publish readme-md-generator.

I'll use another version to fix this issue.
Thanks for reporting 👍

[2019-07-18 08:51] lepouletsuisse commented on #97
Oh ok, Thank you for your work :smiley:  :+1:

[2019-07-18 08:53] kefranabg commented on #97
Fixed in [0.6.1](https://github.com/kefranabg/readme-md-generator/commit/f940f130efef5ffdeb3f278e7435570c95363acb) 👍

[2019-07-18 08:53] #97 closed

[2019-08-18 09:58] kefranabg opened #102 "Add a demo link to the readme"
Ask user for a demo URL and display it in the readme (just below Homepage link)

[2019-08-18 10:09] kefranabg commented on #33
Never used go, but I did not found any equivalent of `package.json` for go.`readme-md-generator` is still usable for go lang project, however most of the pre-filled responses will remains empty.

Feel free to re-open this issue if you have any suggestion 👍

[2019-08-18 10:09] #33 closed

[2019-08-18 10:13] kefranabg opened #103 "Refactor core to use a plugin architecture"
Split `readme-md-generator` into multiple packages ang manage them with `yarn workspaces`. Each question would be a plugin that you can easily register.

[2019-08-19 13:59] MaerF0x0 commented on #33
The gopkg.toml or whatever go modules uses could be incorporated.

On Sun, Aug 18, 2019, 17:09 Franck Abgrall <notifications@github.com> wrote:

[2019-08-21 07:13] kefranabg opened #106 "Update date-fns to 2.0"

[2019-08-21 16:09] oshada97 opened #107 "should we use web link to generate it?"

[2019-08-21 16:09] oshada97 opened #108 "i cant add labels for my issue?"

[2019-08-21 16:14] oshada97 opened #109 "i want to add badges for readme.md like below screen shot"
![ss](https://user-images.githubusercontent.com/34527100/63448983-c012be80-c45c-11e9-8ca9-7831f1b3a988.png)

[2019-08-21 16:15] #108 closed

[2019-08-21 16:18] kefranabg commented on #107
@oshada97 I don't understand the purpose of this issue...Please open an issue with a correct format and description so I can help you.

[2019-08-21 16:18] #107 closed

[2019-08-21 16:19] kefranabg commented on #109
Use [https://shields.io/](https://shields.io/)

[2019-08-21 16:19] #109 closed

[2019-08-21 16:34] oshada97 commented on #109
thnks @kefranabg

On Wed, Aug 21, 2019 at 9:49 PM Franck Abgrall <notifications@github.com>
wrote:

[2019-09-02 20:04] suhailsinghbains commented on #106
Hi @kefranabg
Can I please work on this? I am new here
Thanks

[2019-09-03 09:52] kefranabg commented on #106
Whoops, this issue is outdated, already solved by #113 . Sorry about that !

[2019-09-03 09:52] #106 closed

[2019-09-12 08:24] Kushagra-ag opened #114 "Start script is missing in package.json"
**Describe the bug**
A clear and concise description of what the bug is.
`npm run start` command is not working as start script is missing.
**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to

[2019-09-13 19:40] Kushagra-ag commented on #114
I have opened a PR #120 but the last test of circleci is not progressing.

[2019-09-24 09:06] kefranabg opened #123 "Create dynamic badge from shields.io for license"

[2019-09-24 09:07] kefranabg opened #124 "Get author Github website page url if exists"
We can retrieve user infos thanks to Github API

[2019-09-24 09:14] kefranabg opened #125 "Target _blank should be on <a />"

[2019-09-24 09:25] #125 closed

[2019-09-25 20:28] Kushagra-ag opened #128 "Wrong profile url in .all-contributorsrc file and readme file"
**Describe the bug**
A clear and concise description of what the bug is.
Hey, I think you accidently added a wrong url to my profile in .all-contributorsrc and readme file.
The correct url to my profile will be - https://github.com/Kushagra-ag

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear a

[2019-09-25 20:42] #114 closed

[2019-09-25 20:44] kefranabg commented on #128
Seems all-contributors did wrong ;) Would you mind open a PR to fix this ? README and contributorsrc have to be updated

[2019-09-26 04:47] Kushagra-ag commented on #128
Sure. PR #129

[2019-09-26 08:09] #128 closed

[2019-09-29 20:17] LucasProcopio commented on #102
I would really appreciate to do this as a good first issue, I will try and let you know the results thanks  :)

[2019-09-30 11:15] LucasProcopio commented on #102
I have made a PR and all test cases have passed but one

What should I do about this one ? 😃

thanks in advance :)  I am enjoying contributing.

[2019-10-01 09:02] david-dasilva commented on #123
I could take this one.
I could generate a static shield using https://img.shields.io/badge/License-{{LICENSE}}-yellow.svg or, if there is a Github repo, using https://img.shields.io/github/license/{{user}}/{{project}}

[2019-10-01 11:07] kefranabg opened #132 "Static badge generation not working when license name contains special characters"
**Describe the bug**
Static badge generation not working when license name contains special characters. Example `Apache-2`

**To Reproduce**
Steps to reproduce the behavior:

- In your `package.json`, add `"license": "Apache-2"`
- Run readme generator
- Fill license url

**Expected behavior**
A clear and concise description of what you expected to happen.

Should display a license badge in README

[2019-10-01 11:21] #123 closed

[2019-10-01 11:26] kefranabg opened #134 "License badge should be displayed even if there is no license url"
**Describe the bug**
License badge should be displayed even if user does not enter license url.

[2019-10-01 14:44] anku255 commented on #134
@kefranabg  Can I work on this issue?

[2019-10-01 14:50] anku255 commented on #124
@kefranabg  Can I please work on this issue?

[2019-10-01 16:49] kefranabg commented on #124
sure.

[2019-10-01 16:49] kefranabg commented on #134
yes

[2019-10-01 18:07] anku255 commented on #124
Thanks! I am working on it.

[2019-10-01 18:07] anku255 commented on #134
Thanks! I am working on it.

[2019-10-01 18:34] tbetous commented on #132
Hi @kefranabg ! Not sure that Apache-2 is correct. If you try with "Apache 2.0" it works fine because the shield url is https://img.shields.io/badge/License-Apache%202.0-yellow.svg

For Apache 2.0 I get :
<a href="https://www.apache.org/licenses/LICENSE-2.0.html" target="_blank">
    <img alt="License: Apache 2.0" src="https://img.shields.io/badge/License-Apache 2.0-yellow.svg" />
  </a>

IMO, it

[2019-10-01 19:02] tbetous opened #135 "Fix vulnerabilities"
**Describe the bug**
After npm i I get :

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. git clone git@github.com:kefranabg/readme-md-generator.git
2. cd readme-md-generator
3. npm install

**Expected behavior**
Get less vulnerabilities

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**

- Node: v10

[2019-10-01 19:04] kefranabg commented on #135
Upgrade some dependencies should probably fix this.

[2019-10-01 19:04] tbetous commented on #135
I did `npm audit fix`, it solves the problem.

[2019-10-01 19:06] kefranabg commented on #132
When created with github, license keywords might contains `-`.

[2019-10-01 19:26] #135 closed

[2019-10-02 08:36] Zenigata commented on #132
I am looking onto it right now.

[2019-10-02 09:02] tbetous opened #140 "User should be warned a README.md already execute before executing readme-generator"
**Is your feature request related to a problem? Please describe.**
User should be warned a README.md already exists before executing readme-generator

**Describe the solution you'd like**
If the user have already a README.md, the first question should warn the user that the generation will erase the existing README.md and ask if he wants to continu.

`readme-generator will erase and replace your c

[2019-10-02 09:05] kefranabg commented on #140
Message should be: `readme-md-generator will overwrite your current README.md. Are you sure you want to continue? (Y/n)`

[2019-10-02 09:18] globefire commented on #140
assign this to me please @tbetous @kefranabg

[2019-10-02 10:00] kefranabg commented on #140
Hi @globefire, this issue is already assigned to @tbetous

[2019-10-03 11:42] #134 closed

[2019-10-03 15:08] anku255 commented on #124
Hi @kefranabg!

I am struggling to understand this issue. It would be a great help if you could elaborate on what you meant by "Author's GitHub Home Page URL".

Did you mean 'Project Homepage'? If yes then how can we fetch that using Github API?

Thank you.

[2019-10-03 19:18] kefranabg commented on #124
If you go to my github user page, you'll find this link `https://www.franck-abgrall.me/`. This is the github user website. I would like to get this link if it exists.

[2019-10-04 09:15] louckousse opened #146 "Add the possibility to add multiple author during the questions"
**Is your feature request related to a problem? Please describe.**
When author asked I've had 2 author with a comma, the result was broken.

**Describe the solution you'd like**
If I provide two author separated with a comme it must create 2 lines.

**Describe alternatives you've considered**
comma, semi-colon, no preference, but precise it in the question maybe

(great project btw, you da best)

[2019-10-04 09:27] arvidboivie commented on #146
I'll have a look at this

[2019-10-04 20:36] Orodan commented on #146
Hey, I'll work on it if it's ok :)

[2019-10-04 21:01] louckousse commented on #146
I'm already halfway there. I'll be glad to have your review tomorrow tho'.

[2019-10-04 21:25] Orodan commented on #41
Hey, I think @dejanfajfar idea to detect if the project is a library or an actuel app is great.
However, I don't think it makes more sense to display available scripts only for an app or for a library. Both of them could have scripts that would not really make sense to display in a readme
\- scripts defined only to run on a continious integration server for example.

So here is my proposal : no ma

[2019-10-05 09:05] kefranabg commented on #41
Or maybe always display the list of all available scripts (items are not selected by default), and let the user choose which one he want to embed?

[2019-10-06 08:19] kefranabg opened #148 "Add github sponso to project"

[2019-10-06 08:31] Orodan commented on #41
Hum my guess is it would cause problem if we do that in one step. Like :

Display available scripts ?
- No
- All
- script start
- script build
- script test

If the user chooses "No", we should go to the next step, same for "All". But for the other options, he/she should be able to choose many. It might be confusing to have some option which directly make you go to the next step, and some others n

[2019-10-06 22:11] arguiot commented on #140
This issue should be closed I guess...

[2019-10-07 07:04] #140 closed

[2019-10-07 17:33] dexterastin commented on #132
If the issue isn't over yet, can I try it?

[2019-10-07 17:37] ihoverlord commented on #148
Hi, Can i work on it?

[2019-10-07 18:26] kefranabg commented on #148
Hi, I'm the only who can do this but hanks ;)

[2019-10-07 18:26] Zenigata commented on #132
The review is ongoing there: https://github.com/kefranabg/readme-md-generator/pull/141. Sorry to not have linked those.

[2019-10-08 06:54] dexterastin commented on #53
Hi @kefranabg

I've come up with a good implementation for this idea, may I try this issue?

[2019-10-09 08:25] kefranabg commented on #53
Hi @dexterastin , sure ! Could you first explain what's your implementation idea?

[2019-10-09 12:13] kefranabg opened #149 "[Hacktoberfest friendly] Process stuck after readme creation"
**Describe the bug**

After the readme is generated, the process does not exit so we can't go back to the shell.

**To Reproduce**

1. Run `npx readme-md-generator`
2. Answer questions
3. The process does not quit after the readme is generated

[2019-10-09 12:33] m1ga commented on #149
that should be a quick way to return to the shell #150
Working fine while testing it

[2019-10-09 12:43] kefranabg commented on #149
The issue only occurs with npx

[2019-10-09 13:25] kefranabg commented on #149
I updated the description steps to reproduce in local

[2019-10-09 13:47] m1ga commented on #149
I see. Exiting yargs works in that case

[2019-10-09 13:48] m1ga commented on #149
Second try: https://github.com/kefranabg/readme-md-generator/pull/151
works with `npm start`

[2019-10-09 14:16] kefranabg commented on #149
Found the issue: https://github.com/framework7io/framework7-cli/pull/51

[2019-10-09 14:27] kefranabg commented on #149
Fixed in #152

[2019-10-10 01:28] dexterastin commented on #53
While I was looking for the github API, I found an API that could get the list of contributors in the repository.

It's like this.
https://api.github.com/repos/{user}/{repo}/contributors
ex: https://api.github.com/repos/kefranabg/readme-md-generator/contributors

So I thought maybe I could page this API and get the list and show it to you. The contributors we received includes bot like greenkeeper

[2019-10-10 07:33] kefranabg commented on #53
@dexterastin are we ok that this feature is for readme-generator users, not for this repos right? 😉

[2019-10-13 17:02] #124 closed

[2019-10-14 12:26] kefranabg commented on #132
Fixed in #141

[2019-10-14 12:26] #132 closed

[2019-10-15 07:34] kefranabg opened #155 "Write a CONTRIBUTING.md guide"
Write a contributing guide for `readme-md-generator`. Feel free to take inspiration from other open source projects.

[2019-10-15 08:51] anku255 commented on #155
I would like to work on this.

[2019-10-15 09:00] kefranabg commented on #155
Sure @anku255 !

[2019-10-15 17:55] kefranabg opened #156 "Add CODE_OF_CONDUCT.md"
https://help.github.com/en/articles/adding-a-code-of-conduct-to-your-project

https://www.contributor-covenant.org

https://github.com/bpetetot/conference-hall/blob/master/docs/CODE_OF_CONDUCT.md

[2019-10-15 17:55] Yexan commented on #156
I'm on it ! 😊

[2019-10-15 18:34] Yexan commented on #156
https://github.com/kefranabg/readme-md-generator/pull/157

[2019-10-15 18:57] Orodan commented on #41
I'll work on it :)

[2019-10-24 13:45] #156 closed

[2019-10-24 14:08] Half-Shot opened #163 "Add support for advertising a MXID"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to specify my Matrix contact address on my READMEs. Adding a field for this would be useful.

**Describe the solution you'd like**
#162
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
None

**Additional context**
N/A

[2019-10-24 14:44] kefranabg commented on #163
😄

@Half-Shot I don't know matrix.to . Could you provide some context?

My thought is that most of the `readme-md-generator` users won't have a matrix id, so I don't want to bother them with an extra field.

[2019-10-24 15:25] Half-Shot commented on #163
Understood, I'm wondering if there is a way we can include this as an extra without having to prompt the users.

For some context, [Matrix](https://matrix.com) is a pretty active chat protocol which tends to get new projects being created each week by the community (some have lent their :+1: to the post above :smile:). matrix.to is just a permalink service to direct users onto their chat client of

[2019-10-25 00:04] vccolombo opened #164 "LICENSE badge not working properly"
Hello!! I may have found a bug, could you take a look at it? Thank you very much!

**Describe the bug**
When I generate a new README, the link to the LICENSE badge seems to be wrong. For example for my note-taking project it's linked to `src="https://img.shields.io/github/license/vccolombo/notes-app"` instead of `src="https://img.shields.io/badge/License-MIT-yellow.svg"` (what was being created so

[2019-10-25 08:42] kefranabg commented on #164
Hi @vccolombo

I don't think this is a bug. The repository `vccolombo/notes-app` does not exists on github.
I look into your GH projects and found `vccolombo/note-taking`. I think you just forgot to rename the name property in the package.json, so readme-md-generator suggests you the old name, and you've accepted 😉

I'll close this issue but feel free to comment if that's not ok for you.

[2019-10-25 08:42] #164 closed

[2019-10-25 08:45] kefranabg commented on #163
Thanks for your interest, but for now I don't see any solution to embed this feature without impacting other users 😕

[2019-10-25 16:33] vccolombo commented on #164
Hey @kefranabg
You are indeed correct. I managed to do the same mistake in two repositories and I tough it was a bug. Sorry for that.

But still, could you please elaborate how the LICENSE badge is being generated? The only thing was wrong was the "name" in package.json, is it using this property to generate the badge? I though that by having the correct LICENSE link (and the "repository" property

[2019-10-31 18:22] bpetetot opened #166 "The "Install command" question has a default value even if I keep it empty"
**Describe the bug**
I'm using readme-md-generator to a project that is not a node projet (no `package.json`)
When it asks the "Install command" question, I keep it empty to skip it as it is written:

But it doesn't skip it. It writes the default value `npm install` instead even if it's not a node project.

**To Reproduce**
Steps to reproduce the behavior:

1. Create an empty folder
2. Launch `npx

[2019-10-31 20:37] kefranabg commented on #166
Hey @bpetetot,

Thanks for this clean issue report !

When looking at your video, if I correctly understood, I don't think you're really skipping the `install` question  😅You're using the default value `npm install` that readme-md-generator is suggesting. If you want skip it, you need to press delete when you see the default value `npm install`.

But you're right, as no `package-json` was detected

[2019-10-31 20:39] kefranabg opened #167 "Use npm/yarn"
If a `package.json` is detected, readme-md-generator should ask to choose between yarn and npm. It would allow suggest install, usage and test command with correct package manager (instead of always using npm)

[2019-11-01 11:27] bpetetot commented on #166
I didn't know you could remove the default value by delete button 😅
Indeed an empty value by default for a "not nodejs project" do the trick.

[2019-11-01 14:13] kefranabg opened #168 "Ask for a link to a contributing guide"
CLI should ask for a link to a potential contributing guide.

[2019-11-01 14:18] #166 closed

[2019-11-01 14:19] kefranabg opened #170 "Ask for linkedin username"

[2019-11-01 14:43] anku255 commented on #170
Can I work on this?

[2019-11-01 14:44] anku255 commented on #168
I would like to work on this.

[2019-11-01 14:45] anku255 commented on #167
If you want, I can give it a shot.

[2019-11-01 14:54] anku255 opened #171 "Escape markdown characters in user input strings"
**Describe the bug**
Sometimes the username can itself contain markdown characters and it would render improperly. We need to escape markdown character for it to actually render the correct username.

For example:

[code]
**renders as**
* Twitter: [@__anku__](https://twitter.com/__anku__)

**expected output**

* Twitter: [@\_\_anku\_\_](https://twitter.com/__anku__)

**To Reproduce**
Use markdown

[2019-11-01 16:00] kefranabg commented on #167
Sure, feel free to ask question. I suggest you to use [inquirer list](https://github.com/SBoudrias/Inquirer.js/#prompt-types) to let the user choose between npm and yarn

[2019-11-01 16:06] kefranabg commented on #168
Sure, if the project is a github project, you can suggest the a default value. For example: https://github.com/kefranabg/readme-md-generator/blob/master/CONTRIBUTING.md

I think the result should be printed as following `You can also take a look at the [contributing guide](link).` after `Feel free to check issues page.`

[2019-11-01 16:08] kefranabg commented on #171
Nice catch ! Thanks @anku255

[2019-11-04 18:47] kefranabg opened #173 "Create new different README templates"
User should be able to choose among a list of different README templates. These templates would use  the same project infos (or part of them) and display them in a different way.

[2019-11-06 08:36] kefranabg opened #175 "Update demo GIF and output image"

[2019-11-07 09:06] kefranabg opened #176 "Use funding field from npm"
https://blog.opencollective.com/beyond-post-install/

[2019-11-09 09:01] #170 closed

[2019-11-11 18:30] anku255 opened #180 "Running readme-md-generator with -y flag breaks author website"
**Describe the bug**
Running `readme-md-generator` with `-y` flag outputs incorrect author website. It prints the default function of the `author-website` question instead of its value.

**To Reproduce**
`npx readme-md-generator -y`

**Screenshots**
![image](https://user-images.githubusercontent.com/22813027/68611114-59db8c00-04df-11ea-8c31-6a4e62f53732.png)

[2019-11-11 18:45] anku255 commented on #171
Hi! @kefranabg

I am thinking of escaping markdown characters in `clean-context.js` file. But I am not sure about the values that should be escaped.  I am thinking of two ways to do this -

1. Escape only `Github, Twitter, LinkedIn, and Patreon`. The problem with this approach is we need to update this list every time we add a new value that needs to be escaped.

2. We can escape every key in the

[2019-11-12 15:15] kefranabg commented on #180
It should execute the function if `default` property is a function in `utils.getDefaultAnswers`. Are you interested in working on this @anku255 ?

[2019-11-12 15:20] kefranabg commented on #171
Let's just escape `Github, Twitter, LinkedIn, and Patreon` for now.

Not sure to get it. Could you provide an example?

[2019-11-12 15:34] anku255 commented on #171
Let's say we also want to have `Codepen` or `Dribble` username then we would need to add them to that list as well. It's unlikely we will add many sites but if we do, we need to remember to escape markdown.

[2019-11-12 18:40] kefranabg commented on #171
Instead of doing a list, maybe we could use the escape markdown function inside each social network object prompt, with the transform property?

If we consider that when we want to add a new social network function, we take a look at existing ones, it would be harder to forget the escape markdown what do you think?

[2019-11-12 20:12] anku255 commented on #180
Yeah, I would love to take a shot at this. 😃

[2019-11-13 06:23] anku255 commented on #171
Do you mean the  `transformer` function of `inquirer.js`?

I looked into the documentation and it says -

It doesn't change the answer. I tried it and only the output shown to the user is transformed but the actual answer value is not. Take a look at the screen record below:

![Screen Recording 2019-11-13 at 11 48 30 AM](https://user-images.githubusercontent.com/22813027/68738357-234f5f80-060c-11e

[2019-11-13 08:34] kefranabg commented on #171
Oops, I mean the `filter` function from inquirer 😉

[2019-11-13 08:35] kefranabg commented on #171
The is an example in `author-linkedin.js` for example.

[2019-11-13 10:57] #168 closed

[2019-11-13 11:56] anku255 commented on #171
Oh yeah! I forgot about that one 😄

Okay, how should I go about this? There is already a function `cleanSocialNetworkUsername`. Should I escape the markdown there itself as shown below:

[code]

OR

inside the question -

[code]

What do you think?

[2019-11-13 12:00] #148 closed

[2019-11-13 12:01] #102 closed

[2019-11-13 12:12] kefranabg commented on #171
Inside the `cleanSocialNetworkUsername` function seems better ;)

[2019-11-15 09:03] #171 closed

[2019-11-15 12:42] #180 closed

[2019-11-26 21:33] rafipiccolo opened #188 "cannot start with npx. Error about ejs."
**Describe the bug**
cannot start with npx. Error about ejs.

**To Reproduce**
[code]

**Expected behavior**
Should start program and create a readme

[2019-11-27 14:45] Errorname opened #189 "Version number containing dashes break the version badge"
**Describe the bug**
If the project has a version number containing dashes, it will break the version badge.

**To Reproduce**
Steps to reproduce the behavior:

1. `npx readme-md-generator`
2. When asked for a version, enter: "1.0.0-alpha"
3. In the generated readme, find the url of the badge (https://img.shields.io/badge/version-1.0.0--alpha-blue)
4. Observe the error: "404 badge not found"

**Ex

[2019-11-27 15:48] kefranabg commented on #189
Thanks for this clean issue report 🙏

This kind of bug has been fixed for [the license badge](https://github.com/kefranabg/readme-md-generator/pull/141/files).

I'll do the same for the version ;)

[2019-11-27 16:05] kefranabg commented on #188
@rafipiccolo

Please update you npm version and retry

[2019-11-27 16:05] #188 closed

[2019-11-27 16:06] #189 closed

[2019-11-27 16:06] kefranabg commented on #189
Will be available in the next release 👌

[2019-11-30 11:16] MIKOLAJW197 commented on #176
@kefranabg If you don't mind I will give it a try :)

[2019-12-03 07:28] anku255 commented on #167
Hi @kefranabg

This issue can be closed now (#172).

Offtopic:  Hey, can you please tell me about changing the author of a git commit while merging a PR such that it looks like `user1 authored and user2 commited`? And if it is possible to do it on Github itself?

[2019-12-03 08:35] kefranabg commented on #167
Hi @anku255 ,

I don't really understand the question, but I'll try to answer 😉The one who merge will always be marked as commiter, but the author owns the contributions on that PR. Also I don't think you can change that behavior on github. Feel free to discuss here even if the issue is closed

[2019-12-03 08:35] #167 closed

[2019-12-03 08:45] anku255 commented on #167
Hey!

I recently became the maintainer of `howtographql` repo and whenever I merge a PR, it looks like this -

<img width="448" alt="Screenshot 2019-12-02 at 4 15 31 PM" src="https://user-images.githubusercontent.com/22813027/70034399-1e604900-15d7-11ea-8194-97509e70d268.png">

But I want it to be like this -

<img width="461" alt="Screenshot 2019-12-02 at 4 15 48 PM" src="https://user-images.gith

[2019-12-03 09:19] kefranabg commented on #167
Oh, this is strange. Actually I don't do anything special to get this format:  `user1 authored and user2 commited` I just use the `squash and merge` button from Github.

[2019-12-03 09:26] anku255 commented on #167
Oh, I got it. I guess I need to `sqash and merge` instead of `merge`. I will test it. Thank you 😃

[2019-12-05 13:43] RDIL opened #193 "GitHub capitalization wrong"
**Describe the bug**
In the generated readme's author info section, it has the bullet point `Github`, which is the incorrect capitalization.  It should be `GitHub`.

I would fix this myself but I can't seem to find the code where it is defined.

[2019-12-05 13:51] kefranabg opened #194 "Wrong license label containing --"
![Capture d’écran 2019-12-05 à 14 50 00](https://user-images.githubusercontent.com/9840435/70241068-ab89d600-176e-11ea-9340-aeb9ee7d3ac7.jpg)

[2019-12-05 15:32] #193 closed

[2020-01-19 13:09] Chest1 commented on #146
`

[2020-03-10 11:28] HUERTAGROUP opened #199 "Español: [es]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2020-03-10 11:40] #199 closed

[2020-04-02 10:50] bpetetot commented on #194
Maybe this could help: https://spdx.org/licenses/
It contains all official license identifiers. These identifiers must be used in the `license` attribute of the `package.json` as explained in [npm documentation](https://docs.npmjs.com/files/package.json#license)

[2020-04-12 08:10] fabianmuema opened #203 "Add Dev.to profile"
Many developers have profiles on Dev.to, it would be nice if they can also showcase their Dev.to profiles.

[2020-04-12 14:48] nikhilm19 opened #204 "Option to list down features of Project"
**Is your feature request related to a problem? Please describe.**
Problem of describing everything about the project in the short description

**Describe the solution you'd like**
An option to list down the features of the Project seperately

**Additional context**
Screenshot of the feature requested here.
<img width="1279" alt="Screenshot 2020-04-12 at 8 13 18 PM" src="https://user-images.github

[2020-04-12 15:16] nikhilm19 commented on #203
Also StackOverflow and maybe Medium

[2020-04-13 18:46] JuroOravec opened #205 "Add changelog section"
**Is your feature request related to a problem? Please describe.**
It is useful to include a changelog in projects (see [Keep a Changelog](https://keepachangelog.com/en/1.0.0/)). Maybe this could be encouraged by including it in the generator?

**Describe the solution you'd like**
Add a question that asks for changelog URL, and add a changelog section to the README if the URL was provided. The cha

[2020-04-13 18:58] JuroOravec commented on #103
+1. It would be great if users could select which plugins/questions to include, or could easily create their own plugins (questions), and use them.

Use cases:
1. I'd like to add a bunch of badges to my README. I use my own template, which is just the default template including the badges. Most of the badges need just username and repo name, so those are fine as those variables are already availab

[2020-04-16 09:36] c12i opened #206 "Getting wrong output form input of any username with a trailing underscore"
**Description**
When inputting usernames (Twitter, Github, Linkedin or Patreon) with a trailing underscore (i.e foo_), a backward slash is inserted before the trailing underscore leading to errors loading the badge correctly and having to manually fix it.

**To Reproduce**
Steps to reproduce the behavior:
Input:
[code]
Output
[code]

1. Run `npx readme-md-generator`
2. Skip to username input part

[2020-04-29 20:24] kefranabg commented on #204
Hey, thanks for submitting an issue. This feature looks very specific to your needs and I think most users won't need it

[2020-04-29 20:24] #204 closed, assigned to nobody

[2020-04-29 20:24] kefranabg commented on #203
I like the idea 👍

[2020-06-25 12:06] jeremiahtenbrink commented on #203
I wouldn't mind looking into this if no others are not. I don't wanna jump in and steal someone's thunder. Also, I am looking at adding a way to set these variables to a global config so you don't have to fill out these questions every time you run readme generator. What do you all think? Create a readmeGenerator.json file in the global package and or call

`readme-md-generator -set-github "jeremi

[2020-06-25 12:58] fabianmuema commented on #203
That would be amazing and save a lot of time.

[2020-06-25 22:35] jeremiahtenbrink commented on #206
I am getting wrong username values for my username at twitter.
Pretty sure its happening because of the escapeMarkdown function that is being called in cleanSocialNetworkUsername function.

[2020-06-26 07:23] c12i commented on #206
Yes indeed @jeremiahtenbrink , the error seems to be originating from the markdownEscape library. Removing the `_` replacement seems to fix the issue.
![Screenshot 2020-06-26 at 10 21 43](https://user-images.githubusercontent.com/49271447/85831484-0d576f00-b797-11ea-86bf-6e6dbf7f33f3.png)

[2020-06-26 10:07] jeremiahtenbrink commented on #206
Interesting. Is that an option we get with that package. I'm not entirely sure why we are escaping markdown text anyway. It's not we are having to worry about other users injecting code into our readme. We aren't parsing users text and turning it into a readme. So why we are trying to escape the text I don't understand. If anyone has more insight and its something I'm missing. Please let me know.

[2020-06-26 10:23] c12i commented on #206
Perhaps @anku255 could have a good reason for that, see his pr #183

[2020-07-09 03:26] ghost opened #208 "May i politely ask why this occurs"
**Describe the bug**
Its basically uh
see for yourself please

**To Reproduce**
Steps to reproduce the behavior:

1. Install the tool
2. Install modules
3.Observe

**Expected behavior**
It should just install the modules

**Screenshots**
![image](https://user-images.githubusercontent.com/52085196/86993564-9a8dc100-c1a4-11ea-9001-036de6343f01.png)

**Desktop (please complete the following informati

[2020-07-09 03:50] allanmelo opened #209 "Include rel=”noopener” on links to improve security"
I would like to include in the **templates/default.md** file (compatible with HTML) the tag **rel = "noopener noreferrer"** inside the links **<a>**. To do this, it will also be necessary to modify the links on **"src/__snapshots__/readme.spec.js.snap"** file, as I found testing in a local environment.

This modification increases the security of this generator's links. The vulnerability has been

[2020-07-09 17:45] #208 closed, assigned to nobody

[2020-07-09 17:46] kefranabg opened #210 "Fix vulnerabilities"
<img src="https://user-images.githubusercontent.com/52085196/86993564-9a8dc100-c1a4-11ea-9001-036de6343f01.png" />

[2020-07-09 17:47] kefranabg commented on #209
Sure !

[2020-07-18 03:42] hransom528 commented on #210
Fixed in PR #212

[2020-10-21 20:35] Edo78 commented on #206
I think I understood what's happening... Let's me explain but keep in mind that English isn't my first language so bear with me.

My Twitter username is \_Edo\_ so it must be escaped otherwise in markdown is showed as _Edo_ (without the underscore and in italic).

The problem arise only using HTML because the URL is still escaped for markdown even if it's not parsed as markdown.

[2021-01-12 07:59] sohamsshah opened #216 "Add README Badge Option feature section in auto generated README.md"
**Is your feature request related to a problem? Please describe.**
It is an enhancement. README badges look really cool.
How?
Suppose I am using Tensorflow in my Project or Application.
Tensorflow would love to reference "HOW TO Add Readme Badge" in their README.md for their users to add in their README similar to "powered by Tensorflow" badge with logo or color.

**Describe the solution you'd lik

[2021-04-02 08:47] sehnsucht13 opened #218 "Tests on master fail when project is cloned locally"
**Describe the bug**
When the project is cloned from the master branch, one of the test suites fails.

**To Reproduce**
Steps to reproduce the behavior:

1. Clone this project
2. run `npm install`
3. run `npm run test`
4. Two tests for `src/readme.spec.js` should fail. They should be:
    1. `should return readme default template no html content`
    2. `should return readme default template conte

[2021-04-02 08:49] sehnsucht13 commented on #218
The failing tests can instead be change to this:
[code]

This approach will let the original snapshot pass the tests. Another approach is to change the year within the snapshot but that would require updating the snapshot every year.

Let me know what you think.

[2021-04-10 10:54] Mousticke commented on #205
Hi,
I find that feature really interesting. Are you working on it ? Or can I be assigned to that issue please ?

Thank you

[2021-05-08 13:59] bera5186 commented on #203
@kefranabg Can I work on this issue ?

[2021-11-25 14:53] SJellen opened #225 "Generating bad links"
The command line program generates bad links.

**To Reproduce**
Steps to reproduce the behavior:

1. When prompted for  to add a link the link will be entered with \/\/ between https: and the second level domain (website name)

**Expected behavior**
Should return the url as entered

**Screenshots**

<img width="767" alt="Screen Shot 2021-11-25 at 9 46 48 AM" src="https://user-images.githubusercont

[2022-07-29 21:39] InvalidAccount69 opened #231 "Image Support"
**Describe the solution you'd like**
Support Image For Showcase Program

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature request here.